#
# Code

# Code block
snippet ccc "Undefined code block"
```${1}
```
endsnippet

# JavaScript code block
snippet codejs "JavaScript code block"
```javascript
${1}
```
endsnippet

# TODO
snippet todo "Markdown TODO comment"
<!---
TODO: ${1}
-->
endsnippet


