#
#
#
#
#########################################
#
# Utilities
#
#########################################
#
# Disable tslint for a specific rule
snippet disable "Disable TSLint for a specific rule"
/* tslint:disable:${1:camelcase} */
/* tslint-enable $1 */
endsnippet

